/* ===== RESET + BASE ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #111;
  color: white;
}

/* ===== HERO MOBILE FIRST ===== */
.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px 20px;
  text-align: center;
}

.hero-img img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.hero-text h1 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.hero-text {
  margin-top: 10px;
}

.cta {
  display: inline-block;
  padding: 18px;
  background: #d4af37;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1.1rem;
}
/* ===== SERVICES ===== */
.services {
  padding: 60px 20px;
  background-color: #000;
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.service-card {
  background: #111;
  padding: 30px 20px;
  border-radius: 10px;
}

.service-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 1rem;
  color: #ccc;
}

/* ===== SOCIAL BAR ===== */
.social-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 25px 15px;
  background-color: #000;
  border-top: 1px solid #222;
}

.social-bar a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.95rem;
}

.social-bar a:hover {
  color: #d4af37;
}

.social-bar {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 25px 15px;
  background-color: #000;
  border-top: 1px solid #222;
}

.social-bar a:hover {
  color: #d4af37; /* dorado al pasar el mouse */
}

.social-bar a:first-child {
  color: #25d366; /* WhatsApp verde */
}

.social-text {
  text-align: center;
  color: #ccc;
  font-size: 1rem;
  margin: 15px 0;
}
.social-bar a {
  color: #ccc;
  font-size: 2rem; /* antes 1.5rem */
  transition: color 0.3s;
}



/* ===== DESKTOP ===== */
@media (min-width: 900px) {
  .hero {
    flex-direction: row; /* texto a la izquierda, imagen a la derecha */
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    text-align: left;
    gap: 50px; /* más espacio entre texto y imagen */
  }

  .hero-text {
    max-width: 50%;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-img img {
    width: 100%;        /* que ocupe todo el contenedor */
    max-width: 600px;   /* pero no más grande que 600px */
    height: auto;       /* mantiene proporción */
    border-radius: 10px;
    margin-top: 0;
  }
  
  .services-list {
    flex-direction: row;
    justify-content: center;
  }

  .service-card {
    width: 280px;
  }
  .social-bar a {
    font-size: 2.5rem;
  }
  
}

html {
  scroll-behavior: smooth;
}


